@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Bebas Neue', cursive;
  background-color: #0f0c0c;
  max-width: 1280px;
   
   
}


a {
    text-decoration: none;
    color: #9c9c9c;
    text-transform: uppercase;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #333;
    padding: 30px 50px;
}
button {
    background-color: #6e110e;
    color: #9c9c9c;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'bebas neue', cursive;

   
    

}
button:hover {
background-color: #af3535;
transition: color 2.5s ease;

  
}
a:hover {
    color: #911010;
transition: color 0.5s ease;
  
}
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top:0.4px solid #6e110e;
   margin-bottom: 80px;


   
}
.chamado {
   width: 380px;
  padding: 40px;
  border-radius: 50%;
  animation: float 2s ease-in-out infinite;

}
.sobre {
   font-weight: 800;
   font-size: 26px;
   color: rgb(179, 159, 159);
   
}
.titulo{
    font-size: larger;
    text-transform: uppercase;
    color: #e62828;
}
p {
  padding-top: 10px;
  margin-top: 10px;
}
.produtos{
    margin-top: 40px;
}
h4{
color: #e62828;
font-size: 60px;
justify-content: center;
text-align: center;
}
   

 
 

.historia {
    font-weight: 800;
    display: flex;
    font-size: 16px;
    color: rgb(179, 159, 159);
    justify-content: space-between; 
    padding: 20px; 
    gap: 20px;
  
}
.metatxt1{
    border-right: #911010 1px solid;
}

.product-card{
    max-width: 100px;
   
}
.product-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.produto-venda{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #6e110e;
    gap: 20px;
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}


span {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: #e62828;
    text-transform: uppercase;
    margin-top: 20px;
}
 