@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f0c0c;
    margin: 0 auto;
    color: #9c9c9c;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    width: 100%;
}
span {
    font-family: 'lato', sans-serif;
    color: #e62828;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase ;

}

a {
    text-decoration: none;
    color: #9c9c9c;
    text-transform: uppercase;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #251a1a;
    padding: 0 20px;
}

.whats i {
    color: #d32e2e;
    width: 150px;
}

.whats i:hover {
    color: #911010;
    transition: color 0.5s ease;
}

button {
    background-color: #e62828;
    color: #cc8f8f;
    border: none;
    padding: 10px 20px;
   cursor: pointer;
    border-radius: 20px;
    font-family: 'Bebas Neue', cursive;
   
}

button:hover {
    background-color: #af3535;
    transition: background-color 0.5s ease;
}

a:hover {
    color: #911010;
    transition: color 0.5s ease;
}

/* MAIN STYLES */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 50px; /* Espaçamento entre as seções */
    padding: 50px 0;
}

/* SECTIONS */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.chamado {
    width: 380px;
    padding: 40px;
    border-radius: 50%;
    animation: float 2s ease-in-out infinite;
}

.sobre {
    font-weight: 800;
    font-size: 26px;
    color: rgb(179, 159, 159);
    text-align: center  ;
}

.titulo {
    font-size: larger;
    text-transform: uppercase;
    color: #e62828;
}

p {
    padding-top: 10px;
    margin-top: 10px;
}

.venda, .services {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

.produto-venda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    border: #6e110e 3px solid;
    padding: 20px;
    border-radius: 20px;
    background-color: #0a0707;
    color: #9c9c9c;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 0 10px #6e110e;
    transition: transform 0.5s, box-shadow 0.5s;
}

.product-card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #6e110e;
}

.product-card h2 {
    color: #e62828;
    font-size: 20px;
}

.product-card i {
    color: #27eb00;
    font-size: 40px;
}

.services h4, .services .historia h4 {
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: #e62828;
    text-transform: uppercase;
}

.historia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Diminuído o gap entre os blocos */
    padding: 50px;
    margin-top: 20px; /* Reduzido o espaçamento superior */
    font-weight: 800;
    font-size: 16px;
    color: rgb(179, 159, 159);
    text-align: center;
}

.metatxt1 {
    border-right: 1px solid #911010;
    padding-right: 10px; /* Reduzido o padding interno */}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #251a1a;
    color: #9c9c9c;
    width: 100%;
    padding: 20px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    color: #e62828;
}

.social i {
    font-size: 30px;
}

.social i:hover {
    color: #911010;
    transition: color 0.5s ease;
}

/* FLOAT ANIMATION */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
     span{
        font-size: 25px;
       font-weight: 900;
    
    }
    .menu {
        flex-direction: column;
     gap: 10px;
       padding: 20px;
    }

    .acesso {
        display: none;
    }

    .chamado {
        display: none;
    }

    .produto-venda {
        flex-direction: column;
    }

    .product-card {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 auto; /* Centraliza os cards */
    }
    .product-card:hover {
       text-decoration: none;
    }

    .historia {
        flex-direction: column;
       padding: 40px;
        align-items: center;
    }

    .metatxt1 {
        border-right: none;
    }

    footer {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    .whats i {
        color: #d32e2e;
        padding: 40px;
        margin-bottom: 10px;
        
    }

}